<div class="container-sm">
  <h1 class="text-center mt-5 landing-title">{{title}}</h1>
  <div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search artists" [(ngModel)]="queryInput" />
        <button class="btn btn-secondary" type="button" (click)="search()">Search</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
  </div>
  <div class="row pt-5" *ngIf="!!matchingArtists && matchingArtists.length">
    <h1>Results for "{{ artistQuery }}"</h1>
    <app-artist-card class="col-sm-2 col-md-2 col-lg-2 mb-3" *ngFor="let artist of matchingArtists" [artist]="artist">
    </app-artist-card>
  </div>
</div>
